:root {
  --smoke-size: 110vh;
  --smoke-s: calc(var(--smoke-size) / 6);
  --smoke-bor: calc(var(--smoke-size) / 30);
  --smoke-boxShadow: calc(var(--smoke-size) / 12);

  --portal-size: 60vw;
  --portal-bor: calc(var(--portal-size) / 15);
  --portal-boxShadow: calc(var(--portal-size) / 9);
}

.site-header-content{overflow:hidden;}

/* Aura code lovingly stolen from https://codepen.io/BlackStar1991/pen/xxVOdJb?editors=1100 */
.smoke-container{
	bottom: 0; 
	position: absolute;
  	height: 30px;
	width: 140%;
  	left: -30%;
}

.portal-container{
    width: var(--portal-size);
    height: var(--portal-size);
}

.smoke {
  filter: url(#wavy) blur(1px);
  transform: translate(0%, -15%);
  width: 110%;
  height: var(--smoke-size);
}
.portal {
    width: var(--portal-size);
    height: var(--portal-size);
    filter: url(#tight) blur(1px);
}

.portal:before,
.portal:after,
.smoke:before,
.smoke:after {
  content: "";
  position: absolute;
}
.smoke:before,
.smoke:after {
  top: var(--smoke-s);
  left: var(--smoke-s);
  right: var(--smoke-s);
  border: var(--smoke-bor) solid #fff;
}

.portal:before,
.portal:after{

  top: calc(var(--portal-bor)* -.8);
  left: calc(var(--portal-bor)* -.8);
  right: calc(var(--portal-bor)* -.5);
  bottom: calc(var(--portal-bor)* -.5);
  border-radius: 50%;
  border: var(--portal-bor) solid #fff;
}

@media (min-width: 700px){
    .portal:before,
    .portal:after{
      right: calc(var(--portal-bor)* -.65);
      bottom: calc(var(--portal-bor)* -.65);
    }
}
.portal:before,
.smoke:before {
  -webkit-box-reflect: below 10px
    linear-gradient(transparent, transparent, #0002);
}
    .portal:before{
        box-shadow: 0 0 var(--portal-boxShadow) #61a8c3ff, inset 0 0 var(--portal-boxShadow) #61a8c3ff;
        animation: portal 5s linear infinite;
    }
    .smoke:before {
        box-shadow: 0 0 var(--smoke-boxShadow) #61a8c3ff, inset 0 0 var(--smoke-boxShadow) #61a8c3ff;
        animation: smoke 5s linear infinite;
    }

.smoke:after {
  box-shadow: 0 0 calc(var(--smoke-bor)/2) #83c5dbff, inset 0 0 var(--smoke-bor) #83c5dbff;
}
.portal:after {
  box-shadow: 0 0 calc(var(--portal-bor)/2) #83c5dbff, inset 0 0 var(--portal-bor) #83c5dbff;
}

@keyframes smoke {
  0% {
    box-shadow:  inset 0 0 var(--smoke-boxShadow) #83c5dbff;
  }
  20% {
    box-shadow:  inset 0 0 80px #83c5dbff;
  }

  40% {
    box-shadow:  inset 0 0 65px #83c5dbff;
  }
  60% {
    box-shadow:  inset 0 0 80px #83c5dbff;
  }
  80% {
    box-shadow:  inset 0 0 90px #83c5dbff;
  }
  100% {
    box-shadow:  inset 0 0 var(--smoke-boxShadow) #83c5dbff;
  }
}

@keyframes portal {
  0% {
    box-shadow: inset 0 0 var(--portal-boxShadow) #83c5dbff;
  }
  20% {
    box-shadow: inset 0 0 80px #83c5dbff;
  }

  40% {
    box-shadow: inset 0 0 65px #83c5dbff;
  }
  60% {
    box-shadow: inset 0 0 80px #83c5dbff;
  }
  80% {
    box-shadow: inset 0 0 90px #83c5dbff;
  }
  100% {
    box-shadow: inset 0 0 var(--portal-boxShadow) #83c5dbff;
  }
}

svg.animated {
  width: 0;
  height: 0;
}
.portal-frame {
    width: var(--portal-size);
    height: var(--portal-size);
    border-radius: 50%;
    margin: 0 auto;
}
.portal-frame img{
    width: var(--portal-size);
    height: var(--portal-size);
    position: absolute;
    border-radius: 50%;
}
